[user]
    name = Jef LeCompte
    email = jeffreylec@gmail.com
    signingkey = 9FFEF859EB0452E5
[core]
    editor = vim
    excludesfile = ~/.gitignore_global
    pager = diff-so-fancy | less -FR --tabs=4
[commit]
    gpgsign = true
[color]
    ui = true
    branch = auto
[color "status"]
    branch = magenta normal bold
    remoteBranch = magenta normal bold
    changed = yellow normal bold
    untracked = red normal bold
    updated = green normal bold
[color "branch"]
    current = magenta normal ul bold
    remote = yellow normal bold
[diff]
    tool = kitty
    guitool = kitty.gui
[difftool]
    prompt = false
    trustExitCode = true
[difftool "kitty"]
    cmd = kitty +kitten diff $LOCAL $REMOTE
[difftool "kitty.gui"]
    cmd = kitty kitty +kitten diff $LOCAL $REMOTE
[pull]
    rebase = false
[filter "lfs"]
    process = git-lfs filter-process
    required = true
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
[alias]
    unstage = restore --staged
[includeIf "gitdir:~/development/**"]
    path = ~/developmentt/.gitconfig
[includeIf "gitdir:~/greenlight/**"]
    path = ~/greenlight/.gitconfig

